<div class="container">
  <h1>会員情報編集</h1>
  <% if @customer.errors.any? %>
      <%= @customer.errors.count %>errors prohibited this obj from being saved:
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div  class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

        <%= form_with model: @customer, url: customers_path do |f| %>

        <br>
        <table>
          <tbody>
            <tr>
              <td><%= f.label :氏名 %></td>
              <td><%= f.text_field :last_name %>
                  <%= f.text_field :first_name %></td>
            </tr>

            <tr>
              <td><%= f.label :フリガナ %></td>
              <td><%= f.text_field :last_name_kana %>
                  <%= f.text_field :first_name_kana %></td>
            </tr>

            <tr>
              <td><%= f.label :郵便番号 %></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>

            <tr>
              <td><%= f.label :住所 %></td>
              <td><%= f.text_field :address, size: "42" %></td>
            </tr>

             <tr>
              <td><%= f.label :電話番号 %></td>
              <td><%= f.text_field :telephone_number %></td>
            </tr>

             <tr>
              <td><%= f.label :メールアドレス %>　</td>
              <td><%= f.text_field :email %></td>
            </tr>

          </tbody>
        </table>

　　　　<br>
        <div><%= f.submit '編集内容を保存', class: "btn btn-success" %>
        　　   <%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" , method: :get %>
        <% end %>
      </div>
    </div>
</div>