<div class="container">
  <br>
  <h1>マイページ</h1>
  <br>

  <div class="row">
    <div>
    <h4><b>登録情報</b> 　<%= link_to "編集する", edit_customer_registration_path, class: "btn btn-success", method: :get %></h4>

    <br>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td bgcolor="#DCDCDC">氏名</td>
            <td><%= current_customer.last_name %>
            <%= current_customer.first_name %></td>
        </tr>

        <tr>
            <td bgcolor="#DCDCDC">カナ</td>
            <td><%= current_customer.last_name_kana %>
            <%= current_customer.first_name_kana %></td>
        </tr>

        <tr>
            <td bgcolor="#DCDCDC">郵便番号</td>
            <td><%= current_customer.postal_code %></td>
        </tr>

         <tr>
            <td bgcolor="#DCDCDC">住所</td>
            <td><%= current_customer.address %></td>
        </tr>

         <tr>
            <td bgcolor="#DCDCDC">電話番号</td>
            <td><%= current_customer.telephone_number %></td>
        </tr>

         <tr>
            <td bgcolor="#DCDCDC">メールアドレス　</td>
            <td><%= current_customer.email %></td>
        </tr>
        </tbody>
    </table>
    <br>
    <h4><b>配送先</b>　　<%= submit_tag '一覧を見る', class: "btn btn-primary" %></h4>
    <br>
    <h4><b>注文履歴</b>　<%= submit_tag '一覧を見る', class: "btn btn-primary" %></h4>

    </div>
  </div>
</div>

