<div class="container">
  <h1>商品詳細</h1>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-lg-3"><%= image_tag @item.image,size:"200x200" %></div>

    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <table>
        <tr>

          <td>
            <p>商品名:<%= @item.name %></p>
          </td>

          <td>
            <p>商品説明<%= @item.introduction %></p>
          </td>

          <td>
            <p>ジャンル<%= @item.genre.name %></p>
          </td>

          <td>
            <p>税込価格(税抜価格)<%= @item.price %></p>
          </td>

          <td>
            <p>販売ステータス</p>
          </td>

        </tr>

        <tr>
            <td><%= link_to '編集する', class: "btn btn-success" %></td>
        </tr>

      </table>
    </div>
  </div>
</div>