<div class="container">
  <h1>管理者ログイン</h1>
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
        <tbody>
          <tr>
            <div class="field">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40",class: "offset-1" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", size: "40",class: "offset-1" %></td>
            </div>
          </tr>

          <tr>
            <br>
          </tr>

          <tr>
            <td></td>
            <td>
              
            </td>
          </tr>
        </tbody>
      </table>

      <br>
      <div class="actions">
      <%= f.submit "ログイン",class:"btn btn-success btn-sm btn-block sign_up" %>
      </div>

    <% end %>

    <%= render "admin/shared/links" %>

    </div>
  </div>
</div>

