<div class="container">
  <br>
  <h1>注文履歴詳細</h1>
  <br>

  <div class="row">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.last_name + @order.customer.first_name %></td>
      </tr>

      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      </tr>

      <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
      </tr>

      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>

      <tr>
        <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
        <th>注文ステータス</th>
        <td><%= @order.status_i18n %></td>
            <%#= f.collection_select :status, @order, :id, :name %>
        <td><%= submit_tag '更新', class: "btn btn-success" %></td>
        <% end %>
      </tr>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th bgcolor="#DCDCDC">商品名</th>
          <th bgcolor="#DCDCDC">単価（税込）</th>
          <th bgcolor="#DCDCDC">数量</th>
          <th bgcolor="#DCDCDC">小計</th>
          <th bgcolor="#DCDCDC">製作ステータス</th>
          <th bgcolor="#DCDCDC"></th>
        </tr>
      </thead>

      <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal %></td>
          <td></td>
          <td><%= submit_tag '更新', class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <tr>
        <th>商品合計</th>
        <td><%= @total %>円</td>
      </tr>

       <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %>円</td>
      </tr>

       <tr>
        <th>請求金額合計　</th>
        <td><%= @order.total_payment %>円</td>
      </tr>

    </table>
  </div>
</div>