<div class="container">
   <% if @genre.errors.any? %>
    　<%= @genre.errors.count %>errors prohibited this obj from being saved:
      <ul>
      <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

  <h1>ジャンル編集</h1>

    <br>
    
    <table>
      <tbody>
        <tr>
          <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
            <td>ジャンル名</td>
           
            <td><%= f.text_field :name %></td>
            
            <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

</div>