<div class="container">
  <h2>新規会員登録</h2>
  <% if @customer.errors.any? %>
      <%= @customer.errors.count %>errors prohibited this obj from being saved:
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-8">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <br>
        <table>
          <tbody>
            <tr>
              <td>名前</td>
              <td><%= f.label :last_name,"(姓)",class: "customer_name" %><%= f.text_field :last_name %></td>
              <td><%= f.label :first_name,"(名)",class: "customer_name" %><%= f.text_field :first_name %></td>
            </tr>

            <tr>
              <td>フリガナ</td>
              <td><%= f.label :last_name_kana,"(セイ)",class: "customer_kana_name" %><%= f.text_field :last_name_kana %></td>
              <td><%= f.label :first_name_kana,"(メイ)",class: "customer_kana_name" %><%= f.text_field :first_name_kana %></td>
            </tr>

            <tr>
              <td><%= f.label :email,"メールアドレス",class: "infomersion" %></td>
              <td colspan="2"><%= f.text_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>

            <tr>
              <td><%= f.label :postal_code,"郵便番号",class: "infomersion" %>(ハイフンなし)</td>
              <td colspan="2"><%= f.text_field :postal_code %></td>
            </tr>

            <tr>
              <td><%= f.label :address,"住所",class: "infomersion" %></td>
              <td colspan="2"><%= f.text_field :address, :size=>"50" %></td>
            </tr>

            <tr>
              <td><%= f.label :telephone_number,"電話番号",class: "infomersion" %>(ハイフンなし)</td>
              <td colspan="2"><%= f.text_field :telephone_number %></td>
            </tr>

            <tr>
              <td><%= f.label :encrypted_password,"パスワード",class: "infomersion" %>(6文字以上)</td>
              <td colspan="2"><%= f.text_field :encrypted_password %></td>
            </tr>

            <tr>
              <td><%= f.label :encrypted_password,"パスワード",class: "infomersion" %>(確認用)</td>
              <td colspan="2"><%= f.text_field :encrypted_password %></td>
            </tr>

            <tr>
              <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
    </div>
  </div>
</div>

<br>
<br>
<div class="container">
  <h4>既に登録済みの方</h4>
  <p><%= render "public/shared/links" %>からログインしてください</p>
</div>

